/* TiptapDark.css */

.tiptap {
    background-color: #1e1f21;
    color: white;
    padding: 10px;
    border-radius: 8px;
    min-height: 200px;
    outline: none;
}

.tiptap ul {
    list-style: disc;
    padding-left: 1.5em;
}

.tiptap strong {
    font-weight: bold;
}

.tiptap em {
    font-style: italic;
}
.ProseMirror {
    background: transparent;
    color: white;
    outline: none;
    min-height: 200px;
    padding: 0;
}

.ProseMirror p {
    margin: 0;
}

.ProseMirror ul {
    padding-left: 1.2rem;
}

.bloc-Note::-webkit-scrollbar {
    width: 8px;
}

.bloc-Note::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.bloc-Note::-webkit-scrollbar-thumb {
    background-color: #f1c40f;
    border-radius: 10px;
    border: 2px solid #1e1f21;
}

.bloc-Note::-webkit-scrollbar-thumb:hover {
    background-color: #f39c12;
}
